/* /Pages/Index.razor.rz.scp.css */
.main-container[b-pefqjezumo] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
}

.tld-container[b-pefqjezumo] {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    width: 50%;
    max-width: 584px;
}

.tld[b-pefqjezumo] {
    font-size: larger;
    color: blue;
}

.generate-button[b-pefqjezumo] {
    background-color: rgb(68, 68, 134);
    color: white;
    min-width: 150px;
    min-height: 2rem;
    border-radius: 5px;
    border: 1px solid lightskyblue;
    transition: color 300ms, box-shadow 300ms;
}

.generate-button:active[b-pefqjezumo] {
    background-color: rgb(44, 44, 82);
}

.generate-button:hover[b-pefqjezumo] {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-jk19c5qv90] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-jk19c5qv90] {
    background-color: rgb(39, 68, 68);
    color: white;
}

main[b-jk19c5qv90] {
    flex: 1;
}

.sidebar[b-jk19c5qv90] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-jk19c5qv90] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-jk19c5qv90]  a, .top-row[b-jk19c5qv90]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-jk19c5qv90]  a:hover, .top-row[b-jk19c5qv90]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-jk19c5qv90]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-jk19c5qv90] {
        display: none;
    }

    .top-row.auth[b-jk19c5qv90] {
        justify-content: space-between;
    }

    .top-row[b-jk19c5qv90]  a, .top-row[b-jk19c5qv90]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-jk19c5qv90] {
        flex-direction: row;
    }

    .sidebar[b-jk19c5qv90] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-jk19c5qv90] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-jk19c5qv90]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-jk19c5qv90], article[b-jk19c5qv90] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
