@page "/About"

<div class="main-container">
    <h1>About</h1>

    <div>
        <p>
            Domain generator is a simple website which generates URLs which are 
            whole words in the English language. These URLs have valid top-level-domains.
        </p>

        <p>
            This site does not attempt to check if the URLs that are generated are in use.
        </p>

        <p>
            Initially, this site was intended to be spark ideas for clever site URLs. 
            However, I later discovered that many of these top-level-domains are private, 
            thus it is unlikely for the average person to get a hold of these URLs for
            their own use. Still, I left the site up because it's fun to see the possibilities.
        </p>
    </div>
</div>