h1 {
    padding-bottom: 30px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
}

.tld-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    width: 50%;
    max-width: 584px;
}

.tld {
    font-size: larger;
    color: blue;
}

.generate-button {
    background-color: rgb(68, 68, 134);
    color: white;
    min-width: 150px;
    min-height: 2rem;
    border-radius: 5px;
    border: 1px solid lightskyblue;
    transition: color 300ms, box-shadow 300ms;
}

.generate-button:active {
    background-color: rgb(44, 44, 82);
}

.generate-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}