@page "/"
@inject HttpClient client
@inject NavigationManager navManager

<PageTitle>Index</PageTitle>
<div class="main-container">
    <button @onclick=Generate class="generate-button">Generate</button>

    <div class="tld-container">
        <a href="https://www.@domainName">@domainName</a>
    </div>

    <p>This could be your domain name...</p>
</div>

@code {
    private string domainName = "";
    private Generator generator;
    
    protected override async Task OnInitializedAsync()
    {
        client.BaseAddress = new Uri(navManager.BaseUri);
        generator = new(client);
        await generator.Initialize();
    }

    private void Generate() {
        Console.WriteLine("Generating a new domain name...");
        domainName = generator.GetRandomUrl();
    }
}

