@page "/"
@inject HttpClient client
@inject NavigationManager navManager

<PageTitle>Domain Generator</PageTitle>
<div class="main-container">
    <h1>
        Domain Generator
    </h1>

    <button @onclick=Generate class="generate-button">Generate</button>

    <div class="tld-container">
        <a href="https://www.@domainName">@domainName</a>
    </div>

    <p>This could be your domain name...</p>
</div>

@code {
    private string domainName = "";
    private Generator? generator;
    
    protected override async Task OnInitializedAsync()
    {
        generator = new(client);
        await generator.Initialize();
    }

    private void Generate() {
        if (generator is null) {
            throw new InvalidOperationException("Generator has not been instantiated.");
        }

        Console.WriteLine("Generating a new domain name...");
        domainName = generator.GetRandomUrl();
    }
}

