.site-footer {
    position: absolute;
    align-items: center;
    height: 2rem;
    gap: 2rem;
    bottom: 0px;
    right: 0px;
    display: flex;
    flex-direction: row-reverse;
    padding: 0rem 2rem;
}

a {
    color: lightgray
}

.logo {
    height: 16px;
    width: 16px;
}