
<footer class="site-footer">
    <div>
        <a href="About">About</a>
    </div>
    
    <div>
        <a href="https://github.com/thebluearchive/DomainGenerator">
            <img src="GitHub-Mark-Light-32px.png" class="logo">
            GitHub
        </a>
    </div>
    
    <div>
        <a href="">Home</a>
    </div>
</footer>